$primary-color: #ffd700;
$bgcolor-light : #f5f5f5;

@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";
@import "node_modules/spectre.css/src/spectre-icons";

body {
  padding: 0 !important;
  background: $bgcolor-light;
}

.btn-primary {
  color: #000 !important;
  border: none !important;
}

.navbar {
  padding: .5rem;
  background: $primary-color;
  border-bottom: 1px solid darken($primary-color, 5%);
}
.navbar.fixed {
  position: fixed;
  width: 100%;
}

.container {
  padding: 45px 0 0 0;
  .content {
    padding: 1rem;
  }
}

.btn-full {
  width: 100%;
  text-align: center;
}

.btn-ex-lg {
  width: 3rem !important;
  height: 3rem;
  i {
    font-size: 1.5rem;
  }
}

.btn-fixed {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@import "card";
